@media (min-width: 100px) {
  .CardHeight {
    height: 110px;
  }
  .fontsizefooter {
    font-size: 10px;
  }
}
@media (min-width: 700px) {
  .CardHeight {
    height: 270px;
  }
  .fontsizefooter {
    font-size: 15px;
  }
}
