.moviebox {
  margin: 5px;
  border-radius: 1em !important;
  border-color: aqua;
}
.moviebox img {
  border-radius: 1em;
  height: 100%;
  cursor: pointer;
}
.moviebox:hover {
  filter: brightness(0.7);
}

/* let responsive = {
  0: { items: 3 },
  600: { items: 5 },
  1024: { items: 7 }
}; */
@media (min-height: 100px) {
  .movieboxheight {
    height: 27vh;
  }
}
@media (min-height: 650px) {
  .movieboxheight {
    height: 47vh;
  }
}
