@media (min-width: 100px) {
  .carouselMedia {
    height: auto;
  }
  .carouselItemMedia {
    height: auto;
  }
}
@media (min-width: 700px) {
  .carouselMedia {
    height: 90vh;
  }
  .carouselItemMedia {
    height: 90vh;
  }
}
