.nav a:hover {
  color: #f9ff12;
  text-decoration: none;
  background-color: transparent !important;
}

/* .nav button {
  color: #f9ff12;
  font-weight: 600;
} */

.nav a {
  margin: 0 0.5rem;
  color: white;
}
.appname {
  color: aqua;
  font-weight: 600;
  margin: 0 0.5rem;
  vertical-align: middle;
}
.appname:hover {
  text-decoration: none;
  color: #f9ff12;
}

.sideDrawer a {
  color: aqua !important;
}
.sideDrawer a:hover {
  text-decoration: none;
  color: #f9ff12 !important;
}

.sideDrawer .active {
  color: #f9ff12 !important;
  font-weight: 600;
}

.MuiDrawer-paperAnchorLeft-35 {
  background-color: #343a40 !important;
}

#Genredropdown {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0px;
  margin: 0 0.5em;
  margin-bottom: 2px;
}
#Genredropdown:hover {
  color: #f9ff12;
}
.dropdown-menu {
  border: 0px;
  background-color: #343a40 !important;
}

.dropdown-toggle .btn .btn-primary {
  color: yellow !important;
  font-weight: 600;
}

.dropdown-menu.show {
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 400;
}

.genre {
  margin: 0.5 0.8em !important;
}

#searchmovie {
  overflow: visible;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  /* height: calc(2.25rem + 2px); */
  padding: 0.15rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 200px) {
  .appname {
    font-size: 15px;
  }
  #searchmovie {
    width: 80px;
  }
}
@media (min-width: 600px) {
  .appname {
    font-size: 20px;
  }
  #searchmovie {
    width: 150px;
  }
}
